<%= form_for @requisition do |f| %>
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="col-sm-12">
				<div class="col-sm-12">
					<h4>ISO: <b><%= @isometric_number %></b></h4>
					<%= f.hidden_field :isometric_number, value: @isometric_number %>
				</div>
				<div class="form-group col-sm-4">
					<label for="requisition_project" class="control-label">Project</label>
					<%= f.text_field :project, class: 'form-control' %>
				</div>
				<div class="form-group col-sm-4">
					<label for="requisition_date" class="control-label">Date</label>
					<div class="input-group date" id="requisition_date" data-date="<%=DateTime.now%>">
						<%= f.text_field :date, class: 'form-control req_date', readonly: true, value: DateTime.now.strftime("%d/%m/%Y") %>
						<span class="input-group-addon add-on">
			              <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
			            </span>
					</div>
				</div>
				<div class="form-group col-sm-4">
					<label for="requisition_work_package_number" class="control-label">Work Package Number</label>
					<%= f.text_field :work_package_number, class: 'form-control' %>
				</div>
				<div class="form-group col-sm-12">
					<label for="requisition_intended_use" class="control-label">Intended Use</label>
					<%= f.text_field :intended_use, class: 'form-control' %>
				</div>

				<div class="form-group col-sm-6">
					<label for="requisition_requested_by" class="control-label">Requested By</label>
					<%= f.text_field :requested_by, class: 'form-control' %>
				</div>

				<div class="form-group col-sm-6">
					<label for="requisition_delivery_location" class="control-label">Delivery Location</label>
					<%= f.text_field :delivery_location, class: 'form-control' %>
				</div>
			</div>
		</div>
	</div>
	<div id="materiallist">
		<%= render 'materials' %>
	</div>
	<div class="col-sm-12">
		<div class="row">
			<%= f.submit 'Generate', class: 'btn btn-primary pull-right' %>
		</div>
	</div>
<% end %>

<div id="spool-modal" class="modal fade add-spool" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

<script>
	$(document).ready(function() {
		var nowTemp = new Date();
	    var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
	    
	    $('#requisition_date').datepicker({
	      format: 'mm/dd/yyyy',
	      onRender: function(date) {
	      return date.valueOf() < now.valueOf() ? 'disabled' : '';
	    }}).on('changeDate', function(ev){
	      $('#requisition_date').datepicker('hide');
	    });
	});
</script>