<% @requisitions.each do |r| %>
	<div class="container" id="requisition">
		<div class="panel panel-default" id="requisition-panel">
			<div class="panel-body">
				<div class="col-xs-12 col-sm-12">
					<div class="row">
						<div class="col-xs-12 col-sm-12">
							<div class="col-xs-3 col-sm-3">
								<img src="<%= image_path('cbilogo.jpg') %>">
							</div>
							<div class="col-xs-6 col-sm-6 text-center">
								<h3>WAREHOUSE REQUEST FOR ISSUE</h3>
							</div>
							<div class="col-xs-3 col-sm-3">
								<p>Project: <b><%= r.project %></b></p>
								<p>WRFI No: <b><%=@settings.wrfi_prefix %><%= r.id.to_s.rjust(5, '0') %></b></p>
								<p>Date: <b><%= r.date %></b></p>
								<p>Work Package No: <b><%= r.work_package_number %></b></p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12" style="padding-top: 10px;">
						<p>Intended Use: <b><%= r.intended_use %></b></p>
					</div>

					<div class="col-xs-6 col-sm-6">
						<p>Requested By: <b><%= r.requested_by %></b></p>
					</div>

					<div class="col-xs-6 col-sm-6">
						<p>Delivery Location: <b><%= r.delivery_location %></b></p>
					</div>
					<div class="col-xs-12 col-sm-12">
						<div class="row">
							<div class="col-sm-12">
								<div class="table-responsive">
									<table class="table table-bordered table-condensed">
										<thead>
											<tr>
												<th class="text-center">Quantity</th>
												<th class="text-center">Required</th>
												<th>Material Description</th>
												<th class="text-center">MMS Part No.</th>
												<th class="text-center">Drawing No.</th>
												<th class="text-center">Work Package No.</th>
												<th class="text-center">Tag No.</th>
											</tr>
										</thead>
										<tbody>
											<% r.materials.each do |m| %>
												<%# if m.material_type === t.id %>
												<tr>
													<td class="text-center"><%= m.quantity %></td>
													<td class="text-center"></td>
													<td><%= m.requisition_description %></td>
													<td class="text-center"><%= m.component_number %></td>
													<td class="text-center"><%= m.isometric_number %>-<%= m.sheet_no%></td>
													<td class="text-center"></td>
													<td class="text-center"></td>
												</tr>
												<% #end %>
											<% end %>
											<% (1..@settings.row_max-r.materials.count).each do |line| %>
												<tr>
													<td class="text-center">&nbsp;</td>
													<td class="text-center">&nbsp;</td>
													<td>&nbsp;</td>
													<td class="text-center">&nbsp;</td>
													<td class="text-center">&nbsp;</td>
													<td class="text-center">&nbsp;</td>
													<td class="text-center">&nbsp;</td>
												</tr>
											<% end %>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-12">
							<div class="col-xs-4 col-sm-4">
								<p style="border-bottom: 1px solid #000000">Received By:</p>
							</div>
							<div class="col-xs-2 col-sm-2">
								<p style="border-bottom: 1px solid #000000">Date:</p>
							</div>
							<div class="col-xs-4 col-sm-4">
								<p style="border-bottom: 1px solid #000000">Issued By:</p>
							</div>
							<div class="col-xs-2 col-sm-2">
								<p style="border-bottom: 1px solid #000000">Date:</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer></footer>
<% end %>