<div class="container">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-12">
						<div class="col-sm-3">
							<img src="<%= image_path('cbilogo.jpg') %>">
						</div>
						<div class="col-sm-6">
							<h3>WAREHOUSE REQUEST FOR ISSUE</h3>
						</div>
						<div class="col-sm-3">
							<p>Project: <b><%= @requisition.project %></b></p>
							<p>WRFI No: <b><%= @requisition.requisition_id %></b></p>
							<p>Date: <b><%= @requisition.date %></b></p>
							<p>Work Package No: <b><%= @requisition.work_package_number %></b></p>
						</div>
					</div>
				</div>
				<div class="col-sm-12" style="padding-top: 30px;">
					<p>Intended Use: <b><%= @requisition.intended_use %></b></p>
				</div>

				<div class="col-sm-6">
					<p>Requested By: <b><%= @requisition.requested_by %></b></p>
				</div>

				<div class="col-sm-6">
					<p>Delivery Location: <b><%= @requisition.delivery_location %></b></p>
				</div>

				<% @types.each do |t| %>
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="col-sm-12">
								<div class="col-sm-6">
									<h4>Component Type: <b><%= t.name %></b></h4>
								</div>
								<div class="col-sm-6">
									<h4 class="pull-right">WRFI No: <b>Auto Generated</b></h4>
								</div>
								<div class="col-sm-12">
									<div class="table-responsive">
										<table class="table">
											<thead>
												<tr>
													<th class="text-center">Quantity</th>
													<th>Material Description</th>
													<th class="text-center">MMS Part Number</th>
													<th class="text-center">Drawing Number</th>
													<th class="text-center">Work Package Number</th>
													<th class="text-center">Tag Number</th>
												</tr>
											</thead>
											<tbody>
												<% @materials.each do |m| %>
													<% if m.material_type === t.id %>
													<tr>
														<td class="text-center"><%= m.quantity %></td>
														<td><%= m.requisition_description %></td>
														<td class="text-center"><%= m.component_number %></td>
														<td class="text-center"><%= m.isometric_number %> <%= m.spool%></td>
														<td class="text-center"></td>
														<td class="text-center"></td>
													</tr>
													<% end %>
												<% end %>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				<% end %>
				
				<div class="col-sm-12">
					<div class="col-sm-3">
						<p>Received By:</p>
					</div>
					<div class="col-sm-3">
						<p>Date:</p>
					</div>
					<div class="col-sm-3">
						<p>Issued By:</p>
					</div>
					<div class="col-sm-3">
						<p>Date:</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>